<h2>
  Events <%= current_user.name %> planned:
  <%= @user_events.count %>
</h2>
<h3>Previous Events: <%= @previous_events.count %></h3>
<% @previous_events.each do |event| %>
  <ul>
    <li>Title: <%= event.title %></li>
    <li>Date: <%= event.date %></li>
    <li>Location: <%= event.location %></li>
    <li>Description: <%= event.description %></li>
  </ul>
<% end %>
<%= will_paginate @previous_events %>
<h3>Upcoming Events: <%= @upcoming_events.count %></h3>
<% @upcoming_events.each do |event| %>
  <ul>
    <li>Title: <%= event.title %></li>
    <li>Date: <%= event.date %></li>
    <li>Location: <%= event.location %></li>
    <li>Description: <%= event.description %></li>
  </ul>
<% end %>
<%= will_paginate @upcoming_events %>
