<div class="past">
  <h1>Past Events</h1>
  <% @past_events.each do |event| %>
    <ul>
      <li>Title: <%= event.title %>
      <li>Date: <%= event.date %></li>
      <li>Location: <%= event.location %></li>
      <li>Description: <%= event.description %></li>
      <li>Created by: <%= event.creator.name %></li>
      <li>Attended: <%= event.attended?(current_user) ? "Yes" : "No" %></li>
    </ul>
  <% end %>
  <%= will_paginate @past_events %>
</div>
<div class="future">
  <h1>Future Events</h1>
  <% @future_events.each do |event| %>
    <ul>
      <li>Title: <%= event.title %>
      <li>Date: <%= event.date %></li>
      <li>Location: <%= event.location %></li>
      <li>Description: <%= event.description %></li>
      <li>Created by: <%= event.creator.name %></li>
      <li>
        <% if event.attended?(current_user) %>
          You are attending this event<%= " as the event planner" if event.creator_id == current_user.id %>!
          <br>Do you no longer wish to attend?
          <%= form_tag(url_for(controller: "events", action: "declining"),
                              method: "post") do %>
            <%= hidden_field_tag 'event_id', event.id %>
            <%= submit_tag "OK", data: { confirm: "Are you sure?" } %>
          <% end %>
        <% else %>
          Attend this event?
         <%= form_tag(url_for(controller: "events", action: "attending"),
                              method: "post") do %>
            <%= hidden_field_tag 'event_id', event.id %>
            <%= submit_tag "OK" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%= will_paginate @future_events %>
</div>
</br>
<% if signed_in? %>
  <%= link_to "User profile", current_user %>
<% end %>
