<div class="menu">
  <ul>
    <% if signed_in? %>
      <li><%= current_user.name %>'s page</li>
      <li><%= link_to "My profile", current_user %></li>
      <li><%= link_to "See all events", root_url %></li>
      <li><%= link_to "Create new event", new_event_path %></li>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</div>
